<!doctype html>
<html>

<head>
    <title>Feeling de Twitter</title>
    <meta name="description" content="Feeling de Twitter">
    <meta name="keywords" content="Feeling de Twitter">
</head>
<body>
</body>
    <h1 style="color:white;font-family:verdana;">Feeling de Twitter</h1>

    <div class="forms">
        <div class="form">
            <h2 style="color:white;font-family:verdana;">Introduzca el texto</h2>
            <form method="get" action="/predict" autocomplete="on" >
                <input type="text" name="text" /><br/>
                <button type="submit">Enviar</bsutton>
            </form>
        </div>
    </div>

</html>